#hero {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0px;
    // background: $white-color;
    font-weight: 400;
    color: $white-color;
    padding: 0rem 5.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: url("../images/hero_bg2.jpg");
    background-position: center;
    background-size: cover;
    @include respond(phone) {
        padding: 0rem $default-font-size;
    }
    .hero-title {
        font-size: 4.6rem;
        font-weight: 600;
        margin-bottom: 3.2rem;
        text-align: left;
        // margin-left: 20rem;
        @include respond(tab-land) {
            font-size: 4rem;
        }
        @include respond(tab-port) {
            font-size: 3.6rem;
            text-align: center;
        }
        @include respond(phone) {
            font-size: 3.5rem;
            line-height: 1.5;
        }
        @include respond(phone-xs) {
            font-size: 2.8rem;
        }
    }
    .hero-subtext {
        font-size: 3.6rem;
        text-align: left;
        // margin-left: 10rem;
        margin-bottom: 1.2rem;
        @include respond(tab-land) {
            font-size: 2rem;
        }
        @include respond(tab-port) {
            font-size: 1.6rem;
            text-align: center;
        }
        @include respond(phone) {
            font-size: 2.5rem;
            line-height: 1;
        }
        @include respond(phone-xs) {
            font-size: 1.8rem;
        }
    }
    .class-text {
        font-size: 3.6rem;
        margin-bottom: 3.2rem;
        text-align: left;
        // margin-left: 20rem;
        @include respond(tab-land) {
            font-size: 2rem;
        }
        @include respond(tab-port) {
            font-size: 1.6rem;
            text-align: center;
        }
        @include respond(phone) {
            font-size: 2.5rem;
            line-height: 1;
        }
        @include respond(phone-xs) {
            font-size: 1.8rem;
        }
    }
    .hero-cta {
        display: flex;
        align-items: left;
        @include respond(tab-port) {
            justify-content: center;
        }
        & a {
            font-size: 2.4rem;
            @include respond(phone) {
                font-size: 2rem;
            }
        }
    }
}